.optionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

    div {

        label {
            margin-left: 6px;
        }

        width: 240px;
        display: flex;
        margin-bottom: 10px;

        input[type="text"] {
            margin-left: auto;
            width: 35px;
        }

        button {
            width: 100%;
        }
    }


}