* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
}

button {
    width: 200px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    background: rgb(144, 93, 240);
    border-radius: 4px;
    border-style: none;
    box-shadow: 0 10px 15px rgba(144, 93, 240, 0.3);
    transition: all 0.15s ease-in-out;
    outline: none;

    &:hover {
        background: rgb(130, 84, 216);
        box-shadow: 0 5px 8px rgba(144, 93, 240, 0.3);
    }
}


label {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

input {
    margin-bottom: 5px;

    &[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    &[type="textarea"] {
        height: 60px;
    }
}